[Unit]
Description=Sommelier Orchestrator
After=online.target

[Service]
Type=simple
User=ubuntu
Environment="RUST_LOG=INFO"
WorkingDirectory=/home/ubuntu
ExecStart=/usr/bin/orchestrator \
    --cosmos-phrase="clever math city pink tilt put antenna group explain arrow jelly valid end tell mountain below end early age other infant era elder pond" \
    --ethereum-key=0x0000000000000000000000000000000000000000000000000000000000000000 \
    --cosmos-grpc=http://localhost:9090 \
    --address-prefix=cosmos \
    --ethereum-rpc=http://localhost:8545 \
    --fees=somm \
    --contract-address="0x0000000000000000000000000000000000000000" 
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target