# OS
.DS_Store
*.swp
*.swo
*.swl
*.swm
*.swn
*.pyc

# private files
private[.-]*
private

# Build
vendor
integration_tests/brownie/build
docs/_build
docs/tutorial
*/node_modules
docs/modules
dist
tools-stamp
buf-stamp
artifacts

# Data - ideally these don't exist
mytestnet

# Testing
coverage.txt
profile.out
sim_log_file

# Vagrant
.vagrant/
*.box
*.log
vagrant

# IDE
.idea
*.iml
.dir-locals.el
.vscode

# Graphviz
dependency-graph.png

# Latex
*.aux
*.out
*.synctex.gz

# Contracts
contract_tests/*
solidity/node_modules/

data/
typechain
target
node_modules
solidity/dist
cache
artifacts
!integration_tests/ethereum/artifacts
*.test
